@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  background-color: #F3EDE5;
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter.ttf');
}

.para {
  @apply text-gray-700;
}